<launch>
  <include file="$(find aue_finals)/launch/continuous_detection.launch"/>

  <node pkg="aue_finals" type="AutonomousBot_real.py" name="autobot" output="screen" />
  
  <include file="$(find aue_finals)/launch/yolo_v2_tiny.launch">
  <arg name="image" default="/raspicam_node/image" />
  </include>
  
</launch>




