<launch>
  <include file="$(find aue_finals)/launch/continuous_detection.launch">
  <arg name="camera_name" value="/raspicam_node" />
  <arg name="image_topic" value="image_better" />
  </include>

  <node pkg="aue_finals" type="AutonomousBot_real.py" name="autobot" output="screen" />
  
  <include file="$(find aue_finals)/launch/yolo_v2_tiny.launch">
  <arg name="image" value="/raspicam_node/image_better" />
  </include>

  <node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/raspicam_node/image raw out:=/raspicam_node/image_better" />
  
</launch>